TEST_STRING_VALUE="your test string value"
TEST_INTEGER_VALUE=your test integer value"
TEST_FLOAT_VALUE=your test float value"

# System Variables [ Time units ]
SYSTEM_NANO_SECOND=1        # 1 nano second
SYSTEM_MICRO_SECOND=1000    # 1 * 10^3
SYSTEM_MILLI_SECOND=1000000 # 1 * 10^6
SYSTEM_SECOND=1000000000    # 1 * 10^9
SYSTEM_MINUTE=60000000000   # 60 * 1 * 10^9
SYSTEM_HOUR=3600000000000   # 60 * 60 * 1 * 10^9
SYSTEM_DAY=86400000000000   # 24 * 60 * 60 * 1 * 10^9

# blockTime = duration * unit
PARAMETER_BLOCK_TIME_UNIT=1000000000 # Timer unit
PARAMETER_BLOCK_TIME_DURATION=1      # Timer duration